<div>
    <h2>Noticias</h2>
    <ul>
        {{#each noticias}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{!-- <form action="/logout" method="post">
        <button type="submit">Cerrar Sesión</button>
    </form> --}}
</div>